<h1><%=title%></h1>
<form
	action=""
	method="POST"
>
	<div class="form-group">
		<label for="first_name"> First name: </label>
		<input
			type="text"
			placeholder="First name"
			name="first_name"
			value="<%=(undefined===locals.author?'':author.first_name)%>"
			id="first_name"
			class="form-control"
		/>

		<label for="family_name"> Family name: </label>
		<input
			type="text"
			placeholder="Family name"
			name="family_name"
			value="<%=(undefined===locals.author?'':author.family_name)%>"
			id="family_name"
			class="form-control"
		/>
	</div>
	<div class="form-group">
		<label for="date_of_birth"> Date of Birth: </label>
		<input
			type="date"
			name="date_of_birth"
			placeholder="dd/mm/yyyy"
			value="<%=(undefined===locals.author?'':author.date_of_birth_yyyy_mm_dd)%>"
			id="date_of_birth"
			class="form-control"
		/>
		<label for="date_of_death"> Date of Death: </label>
		<input
			type="date"
			name="date_of_death"
			placeholder="dd/mm/yyyy"
			value="<%=(undefined===locals.author?'':author.date_of_death_yyyy_mm_dd)%>"
			id="date_of_death"
			class="form-control"
		/>
	</div>
	<button
		type="submit"
		class="btn btn-primary"
	>
		Submit
	</button>
</form>
<% if (locals.errors) { %>
<ul>
	<% errors.forEach(error => { %>
	<li><%= error.msg %></li>
	<% }) %>
</ul>
<% } %>
